.homepage {
  display: grid;
  background-color: aliceblue;
}


.pokeList {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.pokeWrapper {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: auto;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color: blue; */
}

.pokeName {
  color: black;
}

.pokePic {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: rgb(232, 232, 232);
  padding: 2em;
  border-radius: 0.5em;
}

